<link rel="stylesheet" href="~/css/HomeIndex.css" />

@{
    ViewData["Title"] = "Home Page";
}



<div class="word">
    <span>P</span>
    <span>I</span>
    <span>C</span>
    <span>K</span>
    <span>.</span>
    <span>B</span>
    <span>O</span>
    <span>O</span>
    <span>K</span>
    <span>.</span>
    <span>R</span>
    <span>E</span>
    <span>L</span>
    <span>A</span>
    <span>X</span>
    
</div>

<script src="~/js/TextAnimation.js"></script>
