﻿.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    text-align: left;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, background-color 0.3s;
}

    .card:hover {
        transform: scale(1.05);
        background-color: #e0e0e0;
    }

.card-content {
    padding: 20px;
}

.card-actions {
    padding: 10px;
    background-color: #f5f5f5;
    text-align: right;
}

    .card-actions a {
        margin-left: 5px;
    }

#createButton {
    margin-bottom: 2em;
    margin-top: 2em;
}

#search {
    margin-bottom: 1.5em;
}}
